<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    {{! favicon }}

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="assets/favicon/favicon-16x16.png"
    />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="assets/favicon/apple-touch-icon-180x180.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="assets/favicon/apple-touch-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="assets/favicon/apple-touch-icon-120x120.png"
    />

    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="assets/favicon/android-chrome-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="assets/favicon/android-chrome-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="512x512"
      href="assets/favicon/android-chrome-512x512.png"
    />
    <link rel="manifest" href="assets/favicon/site.webmanifest" />

    <meta name="msapplication-TileImage" content="/mstile-144x144.png" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    {{! meta keys }}
    <meta name="keywords" content="torrent" />
    <meta
      name="description"
      content="A simple, straightforward torrent downloading application. It supports both .torrent files and in‑app torrent search. The app is primarily designed for downloading movies, but with .torrent files you can attempt to download other types of content. Keep in mind that non‑movie downloads may not always work smoothly."
    />
    <meta name="subject" content="torrent downloader" />
    <meta name="og:url" content="https://jetstorrent.alwaysdata.net/" />
    <meta name="og:title" content="jets_torrent" />
    <meta name="DC.title" content="jets_torrent" />
    <meta name="author" content="jetstorrent" />
    <meta
      name="og:image"
      content="https://jetstorrent.alwaysdata.net/assets/logos/jets_torrents.png"
    />
    <meta
      name="og:description"
      content="A simple, straightforward torrent downloading application. It supports both .torrent files and in‑app torrent search. The app is primarily designed for downloading movies, but with .torrent files you can attempt to download other types of content. Keep in mind that non‑movie downloads may not always work smoothly."
    />
    <meta name="og:site_name" content="jets_torrent" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index,follow" />
    {{! css }}
    <link href="src/css/app.css" rel="stylesheet" />
    <title>gettaways.com</title>
  </head>
  <body>
    <div id="home">
      <div>nabbar</div>
      <div id="main">
        <p>gettaways</p>
        <button id="buyBtn">buy</button>
        <br />
        <p>message panel</p>
        <div id="mgspanlcntnts"></div>
      </div>
    </div>

    <script src="/src/js/app.js"></script>
  </body>
</html>